PORT=8000
RUST_LOG=info
MONGODB_URI=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_SECS=900
JWT_REFRESH_EXPIRES_SECS=2592000
FRONTEND_URL=https://tedxachieversuniversity.com.ng
BREVO_API_KEY=
BREVO_SENDER_EMAIL=no-reply@tedxachieversuniversity.com.ng
BREVO_SENDER_NAME=TEDxAchievers
PAYSTACK_SECRET_KEY=
PAYSTACK_WEBHOOK_SECRET=
